:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content{
  min-height: calc(100vh - 70px - 64px);
}

.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(259px, 1fr));
  gap: 1rem;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 0.5rem;
}

label:not(:last-child){
  margin-right: 1rem;
}